body {
    font-family: sans-serif;
    /*background full size*/
    background: url("../images/mining-construction.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background*/
    color: white;
    /*CSS Grid structure*/
    display: grid;
    grid-template-areas: 
    'header' 1fr
    'main' 1fr
    'aside' 1fr
    'footer' 50px;
    height: 100vh;
    justify-items: center;
}

/*You'll want to put a dark background overlay later, over the bg image*/


header {
    grid-area: "header";   
    font-family: 'Michroma', sans-serif;
}

main {
    grid-area: "main";
    font-family: 'Michroma', sans-serif;
}

aside {
    grid-area: "aside";
}

footer {
    grid-area: "footer";
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
}

form {
    background-color: #2a2d32;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

#message {
    text-align: center;
    font-size: 2.4em;
}

#emailForm {
    text-align: center;
}

#clock {
    text-align: center;
    font-size: 5em;
    color: yellow;
}

#email {
    font-size: 20px;
    background-color: none;
}

#submit {
    font-size: 20px;
    color: #71DFBE;
    background-color: #2B2D2F;
    border: 1px solid #71DFBE;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
    background-color: #71DFBE;
    color: #2B2D2F;
}